*{
    padding: 0;
    margin: 0;
    background-color: rgb(173, 210, 230);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }
  h1{
    padding: 10px;
    border: 5px outset fuchsia;
    background-color: #13293d;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    background-color: #13293d;
    list-style-type: none;
    
  }
  nav a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    background-color: #13293d;
    text-decoration: underline;
    font-size: 110%;
    
  }
  nav a:visited {
    color: whitesmoke;
  }

  nav a:hover {
  box-shadow:  0 0 15px magenta;
  }


.container {
    position: relative;
    text-align: center;
    color: white;
  }
.plane {
    max-width: 100%;
    max-height: 25%;
} 
.bottom-right {
    position: absolute;
    bottom: 10px;
    right: 16px;
    font-size: 35px;
    background: rgba(51, 172, 220, 0.5);
    padding: 7px;
    border: 3px double skyblue;
    color: white;
    
}  
main {
    max-width: 85%;
}
p {
    font-size: 120%;
}
.me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 7%;
    margin-top: 5%; 
    margin-bottom: 5%;
}
.section-title {
    font-size: 50px;
    border-right: 4px double black;
    padding-right: 5%;
    margin-right: 5%;
    text-align: right;
    min-width: 250px;
}

.body-images {
    display: flex;
    flex-wrap: wrap;
}
.main-image {
    flex: 1 0 100%;
    max-width: 80%;
    position: relative;
  text-align: center;
}
.projects {
    flex: 1 0 50%;
    position: relative;
    max-width: 50%;
}
.projects img {
    width: 90%;
} 

.bottom-left {
    bottom: 8px;
    left: 16px;
    font-size: 35px;
    position: absolute; 
    padding: 7px;
    border: 5px outset gray;
    
}

.bottom-left:hover {
    box-shadow: inset 0px 0px 8px black, 0 0 20px black;
}

.contact-info {
    flex: 0 0 75% ;
    padding-top: 2%;
}

.contact-info ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: underline;
    min-width: 250px;
    font-size: 120%;
}
a:visited {
    color: black;
}